div {
    height: 200px;
    width: 200px;
    background-color: rgba(255, 0, 0, 0.6);
}

#opacity {
    height: 100px;
    width: 100px;
    background-color: rgba(0, 255, 0, 0.493);
    opacity: 0.2;
}