.box {
    height: 100px;
    width: 300px;
    background-color: pink;
    /* animation-name: heightAnimate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 3; 
    animation-direction: alternate-reverse; */
    animation: colorAnimate 5s ease-in 0s 4 normal;
}

@keyframes fontAnimation {
    from{
        font-size: 20px;
    }
    to{
        font-size: 40px;
    }
}

@keyframes colorAnimate {
    0%{
        background-color: red;
    }

    50%{
        background-color: aqua;
    }

    80%{
        background-color: yellow;
    }

    100%{
        background-color: blue;
    }
} 

@keyframes heightAnimate {
    from{
        height: 100px;
        background-color: red;
    }
    to{
        height: 400px;
        background-color: blue;
        border-radius: 15px;
    }
}