h1 {
    color: red;
    background-color: green;
}

h2 {
    color: green;
    background-color: red;
}

p {
    color: blue;
    background-color: yellow;
}

button {
    color: gold;
    background-color: black;
}