#main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-template-rows: repeat (12, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}

.box{
    background-color: pink;
    color: black;
}

#one{
    grid-column: 1/13;
}

#two{
    grid-column: 1/4;
    grid-row: 2/12;
}

#three{
    grid-column: 4/10;
}

#four{
    grid-column: 10/13;
    grid-row: 2/12;
}

#five{
    grid-column: 4/10;
    grid-row: 3/12;
}

#six{
    grid-column: 1/13;
}

/* Qs no. 2 */

@media (max-width: 720px) {
    #three{
        grid-row: 2/3;
        grid-column: 1/13;
    }

    #two{
        grid-row: 3/12;
        grid-column: 1/4;
    }

    #four{
        grid-row: 3/12;
        grid-column: 4/13;
    }

    #five{
        grid-row: 12/13;
        grid-column: 1/4;
    }

    #six{
        grid-row: 12/13;
        grid-column: 4/13;
    }
}

#load{
    border: 16px solid #f3f3f3;
    border-top: 16px solid goldenrod;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}