#outer {
    height: 150px;
    width: 200px;
    background-color: gray;
    border: 5px dotted black;
    margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;
    padding: 1em;
}

.inner {
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    display: inline-block;
    border-radius: 50%;
}

li {
    display: inline;
}