h2 {
    background-color: pink;
    display: inline;
}

span {
    background-color: blue;
    height: 100px;
    width: 200px;
    padding: 20px;
    margin: 10px;
}

div {
    height: 100px;
    width: 200px;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
}