.container {
    height: 300px;
    width: 600px;
    background-color: yellow;
    display: inline-grid;
    /* grid-template-rows: 50px 50px 50px 50px;
    grid-template-columns: 200px 200px 200px; */
    grid-template-rows: repeat(5, 1fr);     /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 20px;  /* grid-gap: row-gap column-gap; */
    /* justify-items: center; */
    /* align-items: end; */
    place-items: center;   
}

.item {
     height: 30px;
    width: 100px; 
    background-color: greenyellow;
    text-align: center;
    border: 2px solid black;
}

#one {
    /* grid-column-start: 1; */
    /* grid-column-end: 4; */
    /* grid-column: 1/3; */
    grid-column: 1 / span 3;
}

/* #two { */
    /* grid-row-start: 1; */
    /* grid-row-end: 3; */
    /* /* grid-row: 1 / span 2;  */
 /* } */ 

/* #three { */
    /* justify-self: end; */
    /* align-self: start; */
    /* place-self: start; */
/* } */