h1 {
    background-color: yellow;
}

div{
    height: 100px;
    width: 100px;
    background-color: red;
}

@media (width: 300px){
    h1{
         background-color: green;
    }
    div{
        background-color: black;
    }
}

@media (min-width: 500px){
    h1{
         background-color:aqua;
    }
}

@media (max-width: 200px){
    h1{
         background-color: brown
    }
}

@media (min-width: 300px) and (max-width: 400px){
    h1{
         background-color: magenta;
    }
}

@media (orientation: landscape){
    h1{
        background-color: darkgrey;
        color: blue;
    }
}