div {
    height: 100px;
    width: 100px;
    border: 3px solid black;
    background-color: green;
    margin: 20px;
    display: inline-block;
    color: black;
}

#static {
    background-color: yellow;
    position: static;
     top: 100px;
     left: 100px; 
}

#relative {
    background-color: yellow;
    position: relative;
     top: 100px;
     left: 100px; 
}

#absolute {
    background-color: yellow;
    position: absolute;
     top: 100px;
     left: 100px; 
}

#fixed {
    background-color: yellow;
    position: fixed;
     top: 100px;
     left: 100px; 
}

#sticky {
    background-color: yellow;
    position: sticky;
     top: 100px;
     left: 100px; 
}