h2 {
    color: orange;
}

p {
    color: white;
    background-color: blue;
}

button {
    color: white;
    background-color: black;
}

h3 {
    color: rgb(32, 179, 176);
}

h1 {
    color: #ffffff;
    background-color: #535670;
}