h1 {
    color: pink;
}

#greet {
    color: yellow;
}

.myclass {
    color: brown;
}

div p {
    background-color: black;
}

.para {
    background-color: blue;
}

p {
    background-color: green;
}

div .greetDiv .greet {
    background-color: green;
}

.greetDiv p.greet {
    background-color: blue;
}

.greetDiv .greet {
    background-color: red;
}