h1 {
    text-align: center;
    text-decoration: underline;
    letter-spacing: 5px;
    font-size: 50px;
    font-family: Arial;
}

p {
    text-align: start;
    line-height: 1.5;
    font-size: 15px;

}

h2 {
    text-decoration: line-through;
    text-align: end;
    font-family: sans-serif;
}

h4 {
    font-weight: 100;
    text-decoration: wavy red overline;
}

h3 {
    font-weight: 500;
    text-decoration: dashed blue line-through;
}

a {
    text-decoration: double green underline;
}