div {
    height: 100px;
    width: 100px;
    background-color: #ff0000ff;
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 5s ease-in 0.2s;
}

div:hover {
    margin-top: 400px;
}