div {
    height: 50px;
    width: 200px;
    border: 2px solid black;
    text-align: center;
    margin: 10px auto;
    background-color: #D2FF72;
}

section {
    margin-top: 100px;
}

div:nth-of-type(2n) {
    background-color: #73EC8B;
}

div:nth-of-type(3n) {
    background-color: #54C392;
}

/* Transform Property */
#one {
    transform: rotate(45deg);
}

#two {
    transform: scale(0.5, 2);
}

#three {
    transform: translateX(-50px);
}

#four {
    transform: skew(30deg);
}

#five {
    transform:rotate(45deg) translate(200px) scale(0.5);
}