.box{
    height: 150px;
    width: 150px;
    background-color: pink;
    border: 2px solid black;
}

.one{
    background-color: yellow;
    position: relative;
    z-index: 0;
}

.two{
    background-color: green;
    position: relative;
    bottom: 30px;
    z-index: -2;
}

.three{
    background-color: aqua;
    position: relative;
    bottom: 50px;
    z-index: -4;
}